@import "../webx/scss/global.scss";
@import "../webx/scss/box-shadows.scss";

$footer-background: #000000;
$footer-content-background: #000000;
$footer-text-color: #FFFFFF;

.webx {
    .footer {
        @include centering();
        @include box-shadow($box-border);
        
        position: sticky;
        bottom: 0;
        background: $footer-background;
        color: $footer-text-color;

        height: $point * 7;

        .footer-content {
            background: $footer-content-background;

            width: 100%;
            max-width: $point * 120;
            height: $point * 7;
            padding: 0 $point * 2;
        }
    }
}