$point: 8px;

@mixin centering() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin blur-backdrop() {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}


@mixin vertical-list() {
    display: flex;
    flex-direction: column;

    > * {
        margin-bottom: $point;
    }

    :last-child {
        margin-bottom: 0;
    }
}

@mixin horizontal-list() {
    display: flex;
    flex-direction: row;

    > * {
        margin-right: $point;
    }
    
    :last-child {
        margin-right: 0;
    }
}