@import "./global.scss";

.x-list {
    margin-bottom: $point;
    @media screen and (max-width: 720px) {
        @include vertical-list();
    }

    @media screen and (min-width: 721px) {
        @include horizontal-list();
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.x-raw {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $point;
    &:last-child {
        margin-bottom: 0;
    }
}