@import "./global.scss";
@import "./box-shadows.scss";

.x-ui {
    .wrapper {
        @include blur-backdrop();
        @include centering();

        background: rgba(0, 0, 0, 0.274);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100vh;
        padding: 5vw 0;
        box-sizing: border-box;
        z-index: 100;

        .note {
            $text-padding-x: 8;
            $note-block-shadow: $box-shadow, $box-border;
    
            @include box-shadow($note-block-shadow);
    
            background: #FFFFFF;
            max-width: $point * 90;
            border-radius: $point * 4;
        
            .headline {
                font-family: 'TT Commons';
                font-weight: 600;
            }
            
            .paragraph {
                padding: $point $point * $text-padding-x;
                font-size: $point * 2;
            }
    
            .icon {
                $notification-close-icon-size: 4;
    
                @include centering();
                @include box-shadow($note-block-shadow);
    
                background: rgb(180, 20, 20);
                position: sticky;
                top: $point * 4;
                bottom: $point * 4;
                margin-bottom: $point * 4;
                width: $point * $notification-close-icon-size;
                height: $point * $notification-close-icon-size;
                border-radius: $point * 2;
                color: #FFFFFF;
                cursor: pointer;

                svg {
                    width: 75%;
                    height: 75%;
                }

                &:hover {
                    background: rgb(218, 39, 33);
                }
                &:active {
                    background: rgb(129, 18, 33);
                }
            }
    
            @media screen and (max-width: 425px) {
                $text-padding-x: 8;
    
                padding: $point * 4 $point * 4 $point * 8;
                
                .headline {
                    $headline-height: 7;
                    
                    min-height: $point * $headline-height;
                    line-height: $point * $headline-height;
                    font-size: $point * 6;
                }
                
                .paragraph {
                    padding: $point 0;
                }
            }
            
            @media screen and (min-width: 425px) and (max-width: 768px) {
                $text-padding-x: 8;
    
                border-radius: $point * 4;
                margin: $point * 4 $point * 4;
                padding: $point * 4 $point * 4 $point * 8;
                
                .headline {
                    $headline-height: 7;

                    min-height: $point * $headline-height;
                    line-height: $point * $headline-height;
                    padding: 0 $point * $text-padding-x;
                    font-size: $point * 6;
                }
    
                .paragraph {
                    padding: $point $point * $text-padding-x;
                }
            }
    
            @media screen and (min-width: 721px) {
                $text-padding-x: 8;
                
                border-radius: $point * 4;
                margin: $point * 4 $point * 4;
                padding: $point * 4 $point * 4 $point * 8;
                
                .headline {
                    $headline-height: 7;
                    
                    min-height: $point * $headline-height;
                    line-height: $point * $headline-height;
                    padding: 0 $point * $text-padding-x;
                    font-size: $point * 6;
                }
                
                .paragraph {
                    padding: $point $point * $text-padding-x;
                }
            }
        }
    }
}