@import "./global.scss";
@import "./box-shadows.scss";

$header-width: 120px;
$header-background: #000000;
$header-content-background: #000000;
$header-text-color: #FFFFFF;
$header-logo-size: 3px;

.x-ui {
    .header {
        @include centering();
        @include box-shadow($box-border);
        position: sticky;
        top: 0;
        height: $point * $header-height;
        background: $header-background;
        color: $header-text-color;
        z-index: 100;

        .header-content {
            @include centering();
            justify-content: space-between;
            max-width: $point * $header-width;
            width: 100%;
            height: $point * $header-height;
            background: $header-content-background;
            padding: 0 $point * 2px;
            .header-logo {
                font-family: 'TT Commons';
                font-weight: 600;
                font-size: $point * $header-logo-size;
                user-select: none;
            }
            .header-buttons {
                @include centering();
                > * {
                    margin-left: 0.5px * $point;
                    margin-right: 0.5px * $point;
                }
                :first-child {
                    margin-left: 0;
                }
                :last-child {
                    margin-right: 0;
                }
            }
        }
    }
}