@import "./global.scss";
@import "./box-shadows.scss";

$header-background: #000000;
$header-text-color: #FFFFFF;
$header-logo-size: 3px;

.x-ui {
    .header {
        @include centering();
        @include box-shadow($box-border);
        
        background: $header-background;
        color: $header-text-color;

        position: sticky;
        top: 0;
        height: $point * 7;
        z-index: 99;

        .header-content {
            @include centering();

            // max-width: $point * 120;

            justify-content: space-between;
            width: 100%;
            height: $point * 7;
            
            padding: 0 $point * 2;

            .header-logo {
                font-family: 'TT Commons';
                font-weight: 500;
                font-size: $point * 3;
                user-select: none;
            }

            .header-buttons {
                @include centering();
                > * {
                    margin-left: $point * 0.5;
                    margin-right: $point * 0.5;
                }
                :first-child {
                    margin-left: 0;
                }
                :last-child {
                    margin-right: 0;
                }
            }
        }
    }
}