@import "./global.scss";
@import "./box-shadows.scss";

.x-block {
    $note-block-shadow: $box-shadow, $box-border;
    border-radius: $point * 2;
    padding: $point;
    background: var(--card-background);
    margin-bottom: $point;
}

.x-list {
    margin-bottom: $point;
    @media screen and (max-width: 720px) {
        @include vertical-list();
    }

    @media screen and (min-width: 721px) {
        @include horizontal-list();
    }
}

.x-raw {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $point;
}