:root {
    --athens-gray: #edeef0;
    --azalea: #fadddd;
    --black: #000000;
    --bright-red: #b30000;
    --charade: #262630;
    --cod-black: #141414;
    --emperor: #515151;
    --fair-pink: #ffeaea;
    --gray: #979faa;
    --jordie-blue: #0077ff;
    --less-less-less-dark: #292929;
    --mine-shaft: #222222;
    --mystic: #e5ebf1;
    --opacity1: rgba(0,0,0,0.2);
    --opacity2: rgba(0,0,0,0.4);
    --raven: #757d88;
    --rose-white: #fff8f8;
    --san-marino: #296fc5;
    --san-marino2: #4285d6;
    --titan-white: #dee4ec;
    --tuna: #3a3a3F;
    --tundora: #424242;
    --tutu: #ffecec;
    --white: #ffffff;
    --your-pink: #ffc7c7;
    --zircon: #f5f6f8;
}

.app-content {
    --box-shadow: 0 2px 5px var(--opacity1);
    --card-border: var(--opacity2);

}
.light {
    --background: var(--athens-gray);

    --card-background: var(--white);
    --card-hover-background: var(--zircon);

    --color: var(--black);

    --search-background: var(--athens-gray);
    --search-color: var(--gray);

    --x-button-background-hover: var(--san-marino2);
    --x-button-background: var(--san-marino);
    --x-button-icon: var(--mystic);
    --x-button-text: var(--mystic);

    --x-field-background-hover: var(--titan-white);
    --x-field-background: var(--mystic);
    --x-field-icon: var(--san-marino);
    --x-field-text: var(--san-marino);

    --x-menu-accent-color: var(--zircon);
    --x-menu-background: var(--white);
    --x-menu-icon: var(--san-marino);
    --x-menu-text: var(--color);
}

.pink {
    --background: var(--your-pink);

    --card-background: var(--white);
    --card-hover-background: var(--tutu);

    --color: var(--bright-red);

    --search-background: var(--tutu);
    --search-color: var(--bright-red);

    --x-button-background-hover: var(--your-pink);
    --x-button-background: var(--tutu);
    --x-button-icon: var(--color);
    --x-button-text: var(--color);

    --x-field-background-hover: var(--your-pink);
    --x-field-background: var(--tutu);
    --x-field-icon: var(--color);
    --x-field-text: var(--color);

    --x-menu-accent-color: var(--fair-pink);
    --x-menu-background: var(--rose-white);
    --x-menu-icon: var(--color);
    --x-menu-text: var(--color);
}

.dark {
    --background: var(--cod-black);

    --card-background: var(--mine-shaft);
    --card-hover-background: var(--charade);

    --color: var(--white);

    --search-background: var(--tundora);
    --search-color: var(--raven);

    --x-button-background-hover: var(--emperor);
    --x-button-background: var(--tundora);
    --x-button-icon: var(--jordie-blue);
    --x-button-text: var(--white);

    --x-field-background-hover: var(--emperor);
    --x-field-background: var(--tundora);
    --x-field-icon: var(--jordie-blue);
    --x-field-text: var(--white);

    --x-field-selected: var(--emperor);

    --x-menu-accent-color: var(--tuna);
    --x-menu-background: var(--less-less-less-dark);
    --x-menu-icon: var(--jordie-blue);
    --x-menu-text: var(--white);
}

@media screen and (prefers-color-scheme: dark) {
    .auto {
        --background: var(--cod-black);

        --card-background: var(--mine-shaft);
        --card-hover-background: var(--charade);

        --color: var(--white);

        --search-background: var(--tundora);
        --search-color: var(--raven);

        --x-button-background-hover: var(--emperor);
        --x-button-background: var(--tundora);
        --x-button-icon: var(--jordie-blue);
        --x-button-text: var(--white);

        --x-field-selected: var(--emperor);

        --x-menu-accent-color: var(--tuna);
        --x-menu-background: var(--less-less-less-dark);
        --x-menu-icon: var(--jordie-blue);
        --x-menu-text: var(--white);
    }
}
@media screen and (prefers-color-scheme: light) {
    .auto {
        --background: var(--athens-gray);

        --card-background: var(--white);
        --card-hover-background: var(--zircon);

        --color: var(--black);

        --search-background: var(--athens-gray);
        --search-color: var(--gray);

        --x-button-background-hover: var(--titan-white);
        --x-button-background: var(--mystic);
        --x-button-icon: var(--san-marino);
        --x-button-text: var(--san-marino);

        --x-field-selected: var(--titan-white);

        --x-menu-accent-color: var(--zircon);
        --x-menu-background: var(--white);
        --x-menu-icon: var(--san-marino);
        --x-menu-text: var(--color);
    }
}
