@import "../../../scss/global.scss";
@import "../../../scss/box-shadows.scss";

.webx {
    .x-block {
        $note-block-shadow: $box-shadow, $box-border;
        border-radius: $point * 2;
        padding: $point;
        background: var(--card-background);
        color: var(--color);
        margin: 0 auto $point auto;
        max-width: $point * 120;
        .headline, .subline {
            padding: $point * 3 $point * 1;
        }
        
        .paragraph {
            padding: $point * 1;
        }
    }
    .headline, .subline {
        font-family: 'TT Commons';
        font-weight: 600;
    }
    .subline {
        text-align: center;
    }
    
    .paragraph {
        font-size: $point * 2;
    }
    @media screen and (max-width: 425px) {
        .headline {
            $headline-height: 7;
            
            min-height: $point * $headline-height;
            line-height: $point * $headline-height;
            font-size: $point * 6;
        }
        .subline {
            $headline-height: 4;
            
            min-height: $point * $headline-height;
            line-height: $point * $headline-height;
            font-size: $point * 3;
        }
        
        .paragraph {
            padding: $point 0;
        }
    }
    
    @media screen and (min-width: 425px) and (max-width: 768px) {
        .headline {
            $headline-height: 7;

            min-height: $point * $headline-height;
            line-height: $point * $headline-height;
            font-size: $point * 6;
        }
        .subline {
            $headline-height: 4;

            min-height: $point * $headline-height;
            line-height: $point * $headline-height;
            font-size: $point * 4;
        }
    }
    @media screen and (min-width: 721px) {
        
        .headline {
            $headline-height: 7;
            
            min-height: $point * $headline-height;
            line-height: $point * $headline-height;
            font-size: $point * 6;
        }
        .subline {
            $headline-height: 4;
            
            min-height: $point * $headline-height;
            line-height: $point * $headline-height;
            font-size: $point * 3;
        }
        .paragraph {
            margin-bottom: $point * 2;
        }
    }
}