.x-tumbler {
    display: inline-block;
    width: fit-content;
    user-select: none;
    --blue: #0077ff;
    --blued: #0061cf;
    --blueb: #0026cf;
    border-radius: 12px;
    font-family: 'TT Commons';
    font-size: 24px;
    
    .x-tumbler-wrapper {
        display: flex;
        width: fit-content;
        justify-content: center;

    }
    .x-tumbler-item {
        background: black;
        color: white;
        width: fit-content;
        height: 40px;
        line-height: 40px;
        box-sizing: border-box;
        padding: 0 8px;
        margin: 0 8px;
        min-width: 64px;
        text-align: center;
        
        font-weight: 500;
        transition: transform 2s;
        border-radius: 8px;
        border: 2px solid var(--blueb);
        background-size: 100% 200%;
        background-position: 50% 75%;
        transform: translateY(2px);
        
        &.x-tumbler-selected {
            cursor: pointer;
            transform: translateY(0px);
            box-shadow: 0 2px 0 var(--blueb);

            &:hover {
                background: var(--text-color);
                color: var(--background-color);
            }
        }

        &.svg {
            display: flex;
            justify-content: center;
            align-items: center;
            svg {
                display: inline;
                transform: translateY(-1px);
            }
        }
    }
}