@import "../../../scss/global.scss";
@import "../../../scss/box-shadows.scss";

$header-logo-size: 3px;

body {
    
    &.dark {
        .header {
            background: #000000;
            color: #FFFFFF;
        }
        
    }
    &.light {
        .header {
            background: #FFFFFF;
            color: #000000;
        }
    }
    &.pink {
        .header {
            background: #FFFFFF;
            color: #000000;
        }
    }
    &.auto {
        .header {
            @media screen and (prefers-color-scheme: dark) {
                background: #000000;
                color: #FFFFFF;
            }
            @media screen and (prefers-color-scheme: light) {
                background: #FFFFFF;
                color: #000000;
            }
        }
    }   
}
.webx {
    .header {
        @include centering();
        @include box-shadow($box-border);
        --x-button-header-bg: rgba(0,0,0,0)!important;
        --x-button-header-bg-hover: var(--x-field-background);

        position: sticky;
        top: 0;
        height: $point * 7;
        z-index: 98;
        margin-bottom: $point;

        .header-content {
            @include centering();

            // max-width: $point * 120;

            justify-content: space-between;
            width: 100%;
            max-width: $point * 120;
            height: $point * 7;
            
            padding: 0 $point * 2;

            .header-logo {
                font-family: 'TT Commons';
                font-weight: 500;
                font-size: $point * 3;
                user-select: none;
            }

            .header-buttons {
                @include centering();
                > * {
                    margin-left: $point * 0.5;
                    margin-right: $point * 0.5;
                }
                :first-child {
                    margin-left: 0;
                }
                :last-child {
                    margin-right: 0;
                }
            }
        }
    }
}