@import "../../../scss/global.scss";
@import "../../../scss/box-shadows.scss";
.webx {
    .form-card-bg {
        position: fixed;
        top: 0;
        left: 0;
        
        background-color: rgba(0, 0, 0, 0);
        transition: 0.1s;
        width: 100%;
        height: 100vh;
        transition: 0.1s ease-in-out;

        &.invisible {
            z-index: -100;
        }
        &.visible {
            z-index: 95;
            background-color: rgba(0, 0, 0, 0.582);
        }
    }
    .form-card-wrapper {
        $box-shadow: $box-border, $box-shadow;
        @include box-shadow($box-shadow);

        position: absolute;
        left: 50%;
        background-color: white;
        color: black;
        width: 100%;
        max-width: 720px;
        min-height: 60vh;
        z-index: 100;
        box-sizing: border-box;
        border-radius: $point * 2;
        padding: $point;

        transition: 0.1s ease-in-out;
        &.invisible {
            transform: translate(-50%, 40vh);
            opacity: 0;
        }
        &.visible {
            transform: translate(-50%, 20vh);
            opacity: 1;
        }
        .form-card-close-button {
            position: sticky;
            top: $point * 3;
            bottom: $point * 3;
            margin: $point * 3;
            width: $point * 4;
            height: $point * 4;
            border-radius: $point * 4;
            background-color: gray;
            display: flex;
            justify-content: center;
            align-items: center;
            user-select: none;
            cursor: pointer;
        }
        .form-card-layout {
            padding: 0 $point * 12 $point * 3;
        }
    }
}